<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EMAIL CONFIRM SUCCESS</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaXhIuOMaJhZXtu2CWuMk-8nIpLM5VFIfaaEzE9QDmPGDgvXYtd1jU3-L_zTV9ioO3qE8&usqp=CAU" type="image/x-icon" />
</head>

<body>
    <center>
        <h1>{{message}}</h1>
        <form action="/confirm-email" method="POST">
            <input type="text" minlength="4" name="OTP" />
            <input type="text" value="{{StuID}}" name="ID" style="display: none;"/>
            <button type="submit">CHECK</button>
        </form>

        <a href="/login">Click here to sign in to your account!</a>
    </center>
</body>

</html>